.no-margine{
    margin-top: -8px;
    margin-left: -8px;
    margin-right:-8px;
  }
  .no-margine-bot{
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right:-8px;
  }
  .headers{
    margin: 0;
    box-sizing: content-box;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #333333; 
    overflow: hidden;
  }
  a:link{
    text-decoration: none; 
  }
  a:hover{
    color: white;
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  a:active{
    text-decoration: none;
  }
  .header-not-main{
    color:#00b8d4; 
    text-align: left;
    margin: 1rem
  }
  .header-main{
    font-weight:bold;
    color:#B2F5EA; 
    text-align: left; 
    margin: 1rem;

  }
  .header-main:hover{
    color: white;
  }
  .header-not-main:hover{
    color:white;
  }
  .footers{
    position: relative;
    margin: 0;
    box-sizing: content-box;
    bottom: 0; 
    max-width: 100%;
    width: 100%;
    height: 3rem;
    margin-top: -3rem;
    background-color: #333333;
    display: flex;
    text-align: center; 
  }
  .center {
    border-radius: 50%;
    display :block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
  }
  .middle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .button1{
    width: 122.25px;
    height: 38px;
    background-color: white;
    color: #007EA8;
    border: 2px solid #007EA8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .button1:hover{
    background-color: #007EA8;
    color: white;
    border: solid;
    border-width: 2px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
  }
  .intro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px; 
    margin-top: -30px;
  }
  .greeting{
    font-size: 47px; 
    font-weight: 700; 
    line-height: 57px; 
    position: relative; 
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .title{
    font-size: 46px; 
    font-weight: 700; 
    line-height: 55.67px; 
    position: relative; 
    margin-top:auto;
  }
  .message{
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    position: relative;
    margin-top: -34px;
  }
  details{
    box-sizing: border-box;
  }
  details li{
    margin-left: -50px;
    text-align: center;
    list-style-position: inside;
  }
  details > summary {
    list-style: none;
    cursor: pointer;
  }
  .pdf{
    width: 100vw;
    max-width: 720px;
    height: 60vh;
  }
  .main-page{
    height: 100%;
    margin-top: 128px; 
    margin-bottom: 128px; 
    justify-content: center; 
    display:flex; 
    flex-direction: column
  }  
  img{
    max-width: 100%;
    height: 200;
    width: 200o;
    border-radius: 50%;
    display :block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
  }
  .email{
    font-size: 27px; 
    font-weight: 700; 
    line-height: 33px; 
    position: relative; 
    color: #00e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .input_email{
    margin-top: 10px;
    box-sizing: border-box;
    height: 45.59px;
    width: 642.59375px;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
  }
  .input_name{
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-right: 10px;
    text-align: right;
  }