.no-margine{
    margin-top: -8px;
    margin-left: -8px;
    margin-right:-8px;
    margin-bottom: 128px;
  }
  .no-margine-bot{
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right:-8px;
  }
  .headers{
    box-sizing: content-box;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #333333; 
    overflow: hidden;
  }
  a:link{
    text-decoration: none; 
  }
  a:hover{
    color: white;
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  a:active{
    text-decoration: none;
  }
  .header-not-main{
    color:#00b8d4; 
    text-align: left;
    margin: 1rem
  }
  .header-main{
    font-weight:bold;
    color:#B2F5EA; 
    text-align: left; 
    margin: 1rem;

  }
  .header-main:hover{
    color: white;
  }
  .header-not-main:hover{
    color:white;
  }
  .footers{
    display: flex;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    box-sizing: content-box;
    height: 3rem;
    background-color: #333333;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
 
  .center {
    border-radius: 50%;
    display :block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
  }
  .middle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .button1{
    width: 122.25px;
    height: 38px;
    background-color: white;
    color: #007EA8;
    border: 2px solid #007EA8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .button1:hover{
    background-color: #007EA8;
    color: white;
    border: solid;
    border-width: 2px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
  }
  .intro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px; 
    margin-top: -30px;
  }
  .greeting{
    font-size: 47px;
    font-weight: 700; 
    line-height: 57px; 
    position: relative; 
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .title{
    font-size: 46px; 
    font-weight: 700; 
    line-height: 55.67px; 
    position: relative; 
    margin-top:auto;
    margin-bottom: 0px;
  }
  .message{
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    position: relative;
  }
  details{
    box-sizing: border-box;
  }
  details li{
    margin-left: -50px;
    text-align: center;
    list-style-position: inside;
  }
  details > summary {
    list-style: none;
    cursor: pointer;
  }
  .pdf{
    width: 100vw;
    max-width: 720px;
    height: 60vh;
  }
  .main-page{
    display:flex; 
    flex-direction: column;
    padding-bottom: 128px;
  }  
  img{
    max-width: 100%;
    height: 200;
    width: 200;
    border-radius: 50%;
    display :block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    object-fit: cover;
  }
  .email{
    font-family: 'Times New Roman';
    font-size: 27px; 
    font-weight: 700; 
    line-height: 33px; 
    position: relative; 
    color: #00e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .input_email{
    
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    box-sizing: border-box;
    max-height: 45.59px;
    max-width: 642.59375px;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: inline-block;
  }
  .input_attachment_box{
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    box-sizing: border-box;
    max-height: 45.59px;
    max-width: 642.59375px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    padding: 10px;
    background-color: transparent;
  }
  .input_attachment{
    max-width: 180px;
  }
  .input_feedback{
    height: 100vh;
    width: 100vw;
    max-height: 111.59px;
    max-width: 642.59375px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: inline-block;
  }
  .input_name{
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-right: 10px;
    text-align: right;
  }
  label{
    width:100px;
    display:inline-block;
  }
  
  @media only screen and (max-width: 200px){
    .greeting{
      font-size: 20vw;
    }
    .intro{
      font-size:10vw;
    }
    .button1{
      width:100vw;
    }
    .footers{
      overflow: hidden; 
    }
    .headers{
      overflow: hidden;
    }
    .title{
      font-size: 20vw;
      line-height: normal;
    }
    .message{
      font-size: 10vw;
    }
  }
  @media only screen and (max-width: 720px){
    .pdf{
      width: 100%;
      max-width: 720px;
    }
    td{
      display:block;
      align-items: flex-start;
      text-align: left;
    }
    label{
      text-align: left !important;

    }
    .email{
      display: flex;
      justify-content: center;
      overflow: hidden; 
    }
    input{
      overflow: hidden; 
    }
    
  }
  